<div class="container pt-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-custom card-stretch gutter-b">
                <div class="row card-header border-0 pt-5">
                    <div class="col-12">
                        <h1 class="card-title font-weight-bolder text-dark">Parceiro</h1>
                        <h2 class="text-muted font-weight-bold font-size-lg">
                            {{ isUpdate ? 'Atualizar informações do' : 'Inserir novo' }} parceiro
                        </h2>
                    </div>
                </div>
                <hr />

                <div class="card-body pt-2 pb-0 mt-5">
                    <ng-container *ngIf="hasError">
                        <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
                            <div class="alert-text">{{ message }}</div>
                        </div>
                    </ng-container>
                    <form class="form flex-center" novalidate="novalidate" [formGroup]="form">
                        <div class="row mb-3">
                            <div class="col-sm-1 text-end">
                                <label for="funcao" class="col-form-label">Categoria:</label>
                            </div>
                            <div class="col-sm-5">

                                <ng-multiselect-dropdown formControlName="categoria"
                                    [placeholder]="'Selecione uma categoria'" [settings]="settingsCategoria"
                                    [data]="categoriaData"
                                    [class.is-invalid]="formControl.categoria.invalid && formControl.categoria.touched"
                                    (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect()">
                                </ng-multiselect-dropdown>
                            </div>
                            <div class="col-sm-2 text-end">
                                <label for="planos" class="col-form-label">Planos atendidos:</label>
                            </div>
                            <div class="col-sm-4">
                                <ng-multiselect-dropdown formControlName="planos" [placeholder]="'Selecione um plano'"
                                    [settings]="dropdownSettings" [data]="planos" [(ngModel)]="selectedPlanos"
                                    [class.is-invalid]="formControl.categoria.invalid && formControl.categoria.touched">
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                            <div class="row mb-3" [ngClass]="{ 'disable': !hasCategoriaSelected }">
                                <hr />
                                <h2>Dados {{ categoriaSelected?.nome }}</h2>
                                <fieldset *ngIf="hasCategoriaSelected && !ehClinica">
                                    <div class="row mb-3">
                                        <div class="col-sm-1 text-end">
                                            <label for="cpf" class="col-form-label">CPF:</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="cpf" name="cpf"
                                                formControlName="cpf" mask="000.000.000-99"
                                                [dropSpecialCharacters]="false"
                                                [ngClass]="{ 'is-invalid': formControl.cpf.invalid && formControl.cpf.touched }"
                                                required tabindex="3">
                                        </div>

                                        <div class="col-sm-2 text-end">
                                            <label for="crm" class="col-form-label">CRM:</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="crm" name="crm"
                                                formControlName="crm"
                                                [ngClass]="{ 'is-invalid': formControl.crm.invalid && formControl.crm.touched }"
                                                required tabindex="4">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-1 text-end">
                                            <label for="rg" class="col-form-label">RG:</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="rg" name="rg"
                                                formControlName="rg"
                                                [ngClass]="{ 'is-invalid': formControl.rg.invalid && formControl.rg.touched }"
                                                required tabindex="5">
                                        </div>
                                        <div class="col-sm-2 text-end">
                                            <label for="dataNascimento" class="col-form-label">Data Nascimento:</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="date" class="form-control" id="dataNascimento"
                                                name="dataNascimento" formControlName="dataNascimento"
                                                [ngClass]="{ 'is-invalid': formControl.dataNascimento.invalid && formControl.dataNascimento.touched }"
                                                required tabindex="6">
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset *ngIf="hasCategoriaSelected && ehClinica">
                                    <div class="row mb-3">
                                        <div class="col-sm-1 text-end">
                                            <label for="cpf" class="col-form-label">CNPJ:</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="cnpj" name="cnpj"
                                                formControlName="cnpj" mask="00.000.000/0000-99"
                                                [dropSpecialCharacters]="false"
                                                [ngClass]="{ 'is-invalid': formControl.cnpj.invalid && formControl.cnpj.touched }"
                                                required tabindex="3">
                                        </div>

                                        <div class="col-sm-2 text-end">
                                            <label for="crm" class="col-form-label">IE:</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="ie" name="ie"
                                                formControlName="ie"
                                                [ngClass]="{ 'is-invalid': formControl.ie.invalid && formControl.ie.touched }"
                                                required tabindex="4">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-1 text-end">
                                            <label for="nomeFantasia" class="col-form-label">Fantasia:</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="nomeFantasia"
                                                name="nomeFantasia" formControlName="nomeFantasia"
                                                [ngClass]="{ 'is-invalid': formControl.nomeFantasia.invalid && formControl.nomeFantasia.touched }"
                                                required tabindex="5">
                                        </div>
                                        <div class="col-sm-2 text-end">
                                            <label for="dataFundacao" class="col-form-label">Data fundação:</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="date" class="form-control" id="dataFundacao"
                                                name="dataFundacao" formControlName="dataFundacao"
                                                [ngClass]="{ 'is-invalid': formControl.dataFundacao.invalid && formControl.dataFundacao.touched }"
                                                required tabindex="6">
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="row mb-3">
                                        <div class="col-sm-1 text-end">
                                            <label for="nome" class="col-form-label">Nome:</label>
                                        </div>
                                        <div class="col-sm-11">
                                            <input type="text" class="form-control" id="nome" name="nome"
                                                formControlName="nome"
                                                [ngClass]="{ 'is-invalid': formControl.nome.invalid && formControl.nome.touched }"
                                                required tabindex="7">
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="row mb-3">
                                        <div class="col-sm-1 text-end">
                                            <label for="email" class="col-form-label">E-mail:</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="email" class="form-control" id="email" name="email"
                                                formControlName="email"
                                                [ngClass]="{ 'is-invalid': formControl.email.invalid && formControl.email.touched }"
                                                required tabindex="8">
                                        </div>
                                        <div class="col-sm-2 text-end">
                                            <label for="telefone" class="col-form-label">Telefone:</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="tel" class="form-control" id="telefone" name="telefone"
                                                mask="(00) 00000-0000" [dropSpecialCharacters]="false"
                                                formControlName="telefone"
                                                [ngClass]="{ 'is-invalid': formControl.telefone.invalid && formControl.telefone.touched }"
                                                required tabindex="9">
                                        </div>
                                    </div>
                                    <div class="row mb-3" *ngIf="isUpdate">
                                        <div class="col-sm-1 text-end">
                                            <label for="status" class="col-form-label">Status:</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <select class="form-select form-control" name="status"
                                                formControlName="status" tabindex="10" [ngModel]="statusEnum"
                                                tabindex="10">
                                                <option *ngFor="let value of statusEnumKeys" [ngValue]="value">{{
                                                    statusEnum[value] }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="row" [ngClass]="{ 'disable': !hasCategoriaSelected }">
                                <hr />
                                <h2>Dados Endereço</h2>
                                <fieldset>
                                    <div class="row mb-3">
                                        <label for="cep" class="col-sm-1 col-form-label text-end">CEP:</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="cep" name="cep"
                                                formControlName="cep" mask="00000-000" [dropSpecialCharacters]="false"
                                                [ngClass]="{ 'is-invalid': formControl.cep.invalid && formControl.cep.touched }"
                                                required tabindex="12">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="rua" class="col-sm-1 col-form-label text-end">Rua:</label>
                                        <div class="col-sm-11">
                                            <input type="text" class="form-control" id="rua" name="rua"
                                                formControlName="rua"
                                                [ngClass]="{ 'is-invalid': formControl.rua.invalid && formControl.rua.touched }"
                                                required tabindex="13">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="bairro" class="col-sm-1 col-form-label text-end">Bairro:</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="bairro" name="bairro"
                                                formControlName="bairro"
                                                [ngClass]="{ 'is-invalid': formControl.bairro.invalid && formControl.bairro.touched }"
                                                required tabindex="14">
                                        </div>
                                        <label for="cidade" class="col-sm-1 col-form-label text-end">Cidade:</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="cidade" name="cidade"
                                                formControlName="cidade"
                                                [ngClass]="{ 'is-invalid': formControl.cidade.invalid && formControl.cidade.touched }"
                                                required tabindex="15">
                                        </div>
                                        <label for="estado" class="col-sm-1 col-form-label text-end">Estado:</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control text-uppercase" id="estado"
                                                name="estado" mask="SS" formControlName="estado"
                                                [ngClass]="{ 'is-invalid': formControl.estado.invalid && formControl.estado.touched }"
                                                required tabindex="16">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                    </form>
                </div>

                <div class="card-footer pt-2 pb-0 mt-5">
                    <div class="p-4 d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-danger" [routerLink]="['/parceiro']">CANCELAR</button>
                        <button type="button" class="btn btn-primary" (click)="register(idEntity)">SALVAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>