<header class="py-3 mb-4 border-bottom bg-header">
  <div class="container d-flex flex-wrap justify-content-center align-items-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
      </svg>
      <span class="fs-4">
        <img src="./assets/media/logos/medicar_logo_3-icone.png" alt="Logo Medicar" width="100px" />
      </span>
    </a>
    <div class="col-12 col-lg-auto mb-3 mb-lg-0">
      <div class="dropdown">

        <a href="#" class="dropdown-toggle text-dark" data-bs-toggle="dropdown"><i class="bi bi-person-fill"></i>Usuário
          Logado</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/usuario/">Editar</a>
          <a class="dropdown-item" (click)="logout()">Sair</a>
        </div>
      </div>
    </div>
  </div>
</header>