<div class="container pt-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-custom card-stretch gutter-b">
                <div class="row card-header border-0 pt-5">
                    <div class="col-12">
                        <h1 class="card-title font-weight-bolder text-dark">Plano</h1>
                        <h2 class="text-muted font-weight-bold font-size-lg">
                            {{ isUpdate ? 'Atualizar informações do' : 'Inserir novo' }} plano
                        </h2>
                    </div>
                </div>
                <hr />

                <div class="card-body pt-2 pb-0 mt-5" novalidate="novalidate" [formGroup]="form">
                    <ng-container *ngIf="hasError">
                        <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
                            <div class="alert-text">{{ message }}</div>
                        </div>
                    </ng-container>
                    <form class="form flex-center" novalidate="novalidate" [formGroup]="form">
                        <div class="row">
                            <h2>Dados Plano</h2>
                            <div class="row mb-3">
                                <label for="nome" class="col-sm-1 col-form-label">Nome:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="nome" name="nome"
                                        formControlName="nome">
                                </div>
                                <label for="valor" class="col-sm-1 col-form-label">Valor:</label>
                                <div class="col-sm-2">
                                    <div class="input-group">
                                        <div class="input-group-text">R$</div>
                                        <input type="number" value="0" min="0" step="10" data-number-to-fixed="2"
                                            data-number-stepfactor="100" class="form-control currency" id="valor"
                                            name="valor" formControlName="valor" />
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="descricao" class="col-sm-1 col-form-label">Descrição:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="descricao" name="descricao"
                                        formControlName="descricao">
                                </div>
                            </div>
                            <div class="row mb-3" *ngIf="isUpdate">
                                <label for="status" class="col-sm-1 col-form-label">Status:</label>
                                <div class="col-sm-5 col-auto">
                                    <select class="form-select form-control" name="status" formControlName="status"
                                        [ngModel]="statusEnum">
                                        <option *ngFor="let value of statusEnumKeys" [ngValue]="value">{{
                                            statusEnum[value] }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-footer pt-2 pb-0 mt-5">
                    <div class="p-4 d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-danger" [routerLink]="['/plano']">CANCELAR</button>
                        <button type="button" class="btn btn-primary" (click)="register(idEntity)">SALVAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>