<div class="container pt-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-custom card-stretch gutter-b">
                <div class="row card-header border-0 pt-5">
                    <div class="col-12">
                        <h1 class="card-title font-weight-bolder text-dark">Vendas</h1>
                        <h2 class="text-muted font-weight-bold font-size-lg">Inserir uma venda</h2>
                    </div>
                </div>
                <hr />

                <div class="card-body pt-2 pb-0 mt-5">
                    <form>
                        <div class="row">
                            <h2>Escolher plano</h2>
                            <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Planos</label>
                            <div class="col-sm-6 col-auto">
                                <label class="visually-hidden" for="autoSizingSelect">Preference</label>
                                <select class="form-select form-control">
                                    <option value="1" selected>Plano 1</option>
                                    <option value="2">Plano 2</option>
                                    <option value="3">Plano 3</option>
                                </select>
                            </div>
                            <div class="col-sm-4 text-end">
                                <p class="fw-bold">R$ 50,00</p>
                            </div>
                        </div>

                        <div class="row">
                            <hr />
                            <h2>Dados Cliente</h2>
                            <div class="row mb-3">
                                <label for="cpf" class="col-sm-1 col-form-label">CPF:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="cpf">
                                </div>
                                <label for="status" class="col-sm-1 col-form-label">Status:</label>
                                <div class="col-sm-5">
                                    <select class="form-select form-control" id="status">
                                        <option value="A" selected>ATIVO</option>
                                        <option value="B">INATIVO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="nome" class="col-sm-1 col-form-label">Nome:</label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control" id="nome">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="email" class="col-sm-1 col-form-label">E-mail:</label>
                                <div class="col-sm-5">
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <label for="telefone" class="col-sm-1 col-form-label">Telefone:</label>
                                <div class="col-sm-5">
                                    <input type="tel" class="form-control" id="telefone">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <hr />
                            <h2>Dados Endereço</h2>
                            <div class="row mb-3">
                                <label for="cep" class="col-sm-1 col-form-label">CEP:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="cep">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="rua" class="col-sm-1 col-form-label">Rua:</label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control" id="rua">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="bairro" class="col-sm-1 col-form-label">Bairro:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="bairro">
                                </div>
                                <label for="cidade" class="col-sm-1 col-form-label">Cidade:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="cidade">
                                </div>
                                <label for="estado" class="col-sm-1 col-form-label">Estado:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="estado">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-footer pt-2 pb-0 mt-5">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-danger" [routerLink]="['/venda']">CANCELAR</button>
                        <button type="button" class="btn btn-primary">SALVAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>