<rts-header></rts-header>
<rts-menu></rts-menu>

<div class="container">
    <div class="row" style="margin-top:10px;">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body" style="height: 250px;">

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body" style="height: 250px;">

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body" style="height: 250px;">

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:10px;">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body" style="height: 250px;">

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body" style="height: 250px;">

                </div>
            </div>
        </div>

    </div>
</div>