<div class="container">
    <div class="row space-top">
        <div class="col-md-4">
            <div class="card box">
                <div class="card-title">
                    <h2>Vendas</h2>
                    <span>Total de vendas</span>
                </div>
                <div class="card-body">
                    <rts-venda-pie-chart></rts-venda-pie-chart>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card box">
                <div class="card-title">
                    <h2>Pagamentos</h2>
                    <span>Relatório de pagamentos</span>
                </div>
                <div class="card-body">
                    <rts-pagamento-doughnut-chart></rts-pagamento-doughnut-chart>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card box">
                <div class="card-title">
                    <h2>Contratos</h2>
                    <span>Quantidade de contratos ativos</span>
                </div>
                <div class="card-body">
                    <rts-contrato-pie-chart></rts-contrato-pie-chart>
                </div>
            </div>
        </div>
    </div>

    <div class="row space-top">
        <div class="col-md-6">
            <div class="card box-2">
                <div class="card-title">
                    <h2>Vendas</h2>
                    <span>Criados nos últimos 6 meses</span>
                </div>
                <div class="card-body">
                    <rts-venda-line-chart></rts-venda-line-chart>
                </div>
            </div>
        </div>
        <div class="col-md-6">
             <div class="card box-2">
                <div class="card-title">
                    <h2>Clientes</h2>
                    <span>Criados nos últimos 6 meses</span>
                </div>
                <div class="card-body">
                    <rts-cliente-bar-chart></rts-cliente-bar-chart>
                </div>
            </div>
        </div>

    </div>
</div>