<div class="d-flex flex-column flex-root" style="height: 100%;">
    <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
        
        <div class="login-content flex-row-fluid d-flex flex-column 
                  justify-content-center position-relative overflow-hidden p-7 mx-auto">
            <router-outlet></router-outlet>
        </div>
        
        <div class="login-rigth d-flex flex-column flex-row-auto">
            <div class="aside-img d-flex flex-row-fluid"></div>
        </div>

        
    </div>
</div>
