<div class="row">
    <div class="row mb-3">
        <label for="nome" class="col-sm-1 col-form-label text-end">Nome:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="nome" name="nome" disabled
                [(ngModel)]="plano.nome">
        </div>
    </div>
    <div class="row mb-3">
        <label for="valor" class="col-sm-1 col-form-label text-end">Valor:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="valor" name="valor" disabled
                [(ngModel)]="valorPlano" />

        </div>
    </div>

    <div class="row mb-3">
        <label for="descricao" class="col-sm-1 col-form-label text-end">Descrição:</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="descricao" name="descricao"
                disabled [(ngModel)]="plano.descricao" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="status" class="col-sm-1 col-form-label text-end">Status:</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="status" name="status" disabled
                [(ngModel)]="statusPlano" />
        </div>
    </div>
</div>
