<nav class="d-flex justify-content-center align-items-center py-3 item-menu bg-light">
    <div class="flex-sm-fill text-sm-center" [routerLink]="['/dashboard']" routerLinkActive="active">
        Dashboard<br />
        <span>Relatorios Gráficos</span>
    </div>
    <div class="flex-sm-fill text-sm-center" [routerLink]="['/venda']" routerLinkActive="active">
        Venda<br />
        <span>Registro de vendas</span>
    </div>
    <div class="flex-sm-fill text-sm-center" [routerLink]="['/cliente']" routerLinkActive="active">
        Cliente<br />
        <span>Gerenciar clientes</span>
    </div>
    <div class="flex-sm-fill text-sm-center" [routerLink]="['/parceiro']" routerLinkActive="active">
        Parceiro<br />
        <span>Gerenciar parceiros</span>
    </div>
    <div class="flex-sm-fill text-sm-center" [routerLink]="['/plano']" routerLinkActive="active">
        Plano<br />
        <span>Gerenciar planos</span>
    </div>
    <div class="flex-sm-fill text-sm-center" [routerLink]="['/colaborador']" routerLinkActive="active">
        Colaborador<br />
        <span>Gerenciar colaborador</span>
    </div>
    <div class="flex-sm-fill text-sm-center" [routerLink]="['/contrato']" routerLinkActive="active">
        Contrato<br />
        <span>Gerenciar contrato</span>
    </div>
</nav>