.bg-light {
    background-color: #ffffff !important;
    min-height: 10vh;
}

.navbar-nav.center {
    margin: 0 auto;
}

.nav-item {
    margin: 0 2.5em;
}

.item-menu {
    div {
        color: var(--primary);
        cursor: pointer;
    }

    div:hover {
        color: var(--green);
    }

    span {
        font-size: x-small;
        color: var(--gray-dark);
    }

    .active {
        color: var(--green);
    }
}
