<div class="container pt-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-custom card-stretch gutter-b">
                <div class="row card-header border-0 pt-5">
                    <div class="col-10">
                        <h1 class="card-title font-weight-bolder text-dark">Vendas</h1>
                        <h2 class="text-muted font-weight-bold font-size-lg">Lista de vendas</h2>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-primary btn-lg float-end"
                            [routerLink]="['/venda/registrar']">
                            Nova Venda
                        </button>
                    </div>
                </div>
                <hr />
                <div class="row card-header border-0 pt-5">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <div class="text-start font-weight-bolder text-dark">
                            Pesquisar:
                        </div>
                        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                            <input type="search" class="form-control form-control-dark" placeholder="Código da venda..."
                                aria-label="Search" [(ngModel)]="search" name="search">
                        </form>
                    </div>
                </div>

                <div class="card-body pt-2 pb-0 mt-5">
                    <table class="table table-striped table-image">
                        <thead>
                            <tr>
                                <th scope="col">Número pedido</th>
                                <th scope="col">Plano</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Vendedor</th>
                                <th scope="col">Data Venda</th>
                                <th scope="col">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listModels | filter:'codigo':search; let i = index">
                                <th scope="row">{{ item.codigo }}</th>
                                <td>{{ item.plano.nome }}</td>
                                <td>{{ item.cliente.nome }}</td>
                                <td>{{ item.vendedor.nome }}</td>
                                <td>{{ item.dataVenda | date: 'dd/MM/yyyy'}}</td>
                                <td>
                                    <button type="button" class="btn btn-success btn-outline-primary mr-1"
                                        [routerLink]="['/venda/registrar/'+ item.id]">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                            fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path
                                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-outline-primary"
                                        (click)="deletar(item.id)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                            fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>